Click==7.0
Flask==1.1.1
wordcloud
Jinja2==2.10.1
MarkupSafe==1.1.1
gunicorn
attrs==19.1.0
opencv-python-headless==4.2.0.32
botocore==1.12.161
Jinja2==2.10.1
jmespath==0.9.4
jsonschema==3.0.1
jupyter-core==4.4.0
lxml==4.3.3
nbformat==4.4.0
numpy==1.16.3
oauthlib==3.0.1
requests==2.22.0
requests-oauthlib==1.2.0
tweepy==3.7.0
urllib3==1.25.2
Werkzeug==0.15.4
wrapt==1.11.1
